// === Color Palettes ===
$white: #ffffff !default;
$black: #000000 !default;
$primary: #7a848d !default;
$primary-light: mix($primary, $white, 50%) !default; 
$primary-dark: mix($primary, $black, 50%) !default; 
// === Basic Style ===
$padding-horizontal: 8px !default;
$padding-vertical: 16px !default;
$radius: 8px !default;