@import "./lyc-global.scss";

@mixin setCardColor($color, $textColor, $fullColor, $fullTextColor) {
  background-color: $color-transparent;
  border: solid 2px $fullColor;

  &>.lyc-card__header {

    background-color: $color;

    & * {
      color: $fullTextColor;
    }
  }

  &:not(.is-full)>.lyc-card__header {
    border-bottom: solid 2px $fullColor;
  }

  &.is-full {
    background-color: $fullColor;

    & * {
      color: $fullTextColor;
    }

    &>.lyc-card__header {
      border-bottom: solid 2px $color-white;
    }
  }
}

.lyc-card {
  @include setTransition();
  border-radius: $card-radius;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;

  &__header {
    @include setFlex($fw: nowrap);
    min-height: $card-title-height;
  }

  &__title {
    box-sizing: border-box;
    padding: $card-padding;
    @include setFlex($ai: center);
    width: 100%;
  }

  &__tool {
    margin-left: auto;
  }

  &__close {
    @include setFlex();
  }

  &__body {
    box-sizing: border-box;
    padding: $card-padding;
  }

  &.is-shadow:hover {
    @include setTransition();
    @include setShadow($base-shadow-medium $base-shadow-medium $base-shadow-blur $base-shadow-color);
  }

  &.is-default {
    @include setCardColor($color: $card-default-color,
      $textColor: $card-default-text-color,
      $fullColor: $card-default-full-color,
      $fullTextColor: $card-default-full-text-color);
  }


  &.is-dark {
    @include setCardColor($color: $card-dark-color,
      $textColor: $card-dark-text-color,
      $fullColor: $card-dark-full-color,
      $fullTextColor: $card-dark-full-text-color);
  }

  &.is-primary {
    @include setCardColor($color: $card-primary-color,
      $textColor: $card-primary-text-color,
      $fullColor: $card-primary-full-color,
      $fullTextColor: $card-primary-full-text-color);
  }

  &.is-secondary {
    @include setCardColor($color: $card-secondary-color,
      $textColor: $card-secondary-text-color,
      $fullColor: $card-secondary-full-color,
      $fullTextColor: $card-secondary-full-text-color);
  }

  &.is-danger {
    @include setCardColor($color: $card-danger-color,
      $textColor: $card-danger-text-color,
      $fullColor: $card-danger-full-color,
      $fullTextColor: $card-danger-full-text-color);
  }

  &.is-success {
    @include setCardColor($color: $card-success-color,
      $textColor: $card-success-text-color,
      $fullColor: $card-success-full-color,
      $fullTextColor: $card-success-full-text-color);
  }

  &.is-warning {
    @include setCardColor($color: $card-warning-color,
      $textColor: $card-warning-text-color,
      $fullColor: $card-warning-full-color,
      $fullTextColor: $card-warning-full-text-color);
  }
}