@import "./lyc-global.scss";

.lyc-aside {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

  &__wrapper {
    position: relative;
    @include setTransition();
  }

  &__header {
    @include setFlex($fw: nowrap);
  }

  &.is-sticky {
    position: sticky;
    overflow-x: hidden;
    overflow-y: auto;
  }
}