@import "./lyc-global.scss";

.lyc-navbar {
  box-sizing: border-box;
  padding: $navbar-padding;
  @include setFlex($jc: space-between, $ai: center);

  &.is-sticky {
    z-index: 2000;
    position: sticky;
    background-color: $navbar-background-color;
  }
}